<p>Hi <%= @agent.first_name %>,</p>

<p>You have a new message from Geo Property.</p>

<p>first_name: <%= @first_name %><br />
last_name: <%= @last_name %><br />
email: <%= @email %></p>

message: <%= simple_format @message %>